body {
  background: white;
}

#page-wrap {
     width: 500px;
     margin: 0 auto;
}
h1{
  text-align: center;
  background-color: DodgerBlue;
}

.container{
  width: 450;
  height: 600;
  background-color: DodgerBlue;

}


button{
  background-color: black;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}
