body {
  background: brown;
}

#page-wrap {
     width: 500px;
     margin: 0 auto;
}
h1{
  text-align: center;
  background-color: white;
}

.container{
  width: 450;
  height: 600;
  background-color: white;

}

.container2 {
  width: 350;
  height: 425;
  margin: 0 auto;
  background-color: brown;
}


button{
  background-color: brown;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}
