.navbar-expand-md{
		margin-bottom: 0;
		border-radius: 1px;
		padding: 0% 0;
		font-size:1.1em;
		border: 0;
        background-color: #E24C3B;
   
	}
.navbar-brand{
		position: relative;
		flex: initial;
		min-height: 50px;
		padding-top: 10px;
        padding-left: 10px;
	}
	
.navbar .navbar-nav li a
    {
     
	}

html body
    {
        background-color:  #FBF3EF;
    }

nav li a:hover
    {
		color: #E24C3B !important;
        background-color: #FBF3EF;
        border-radius: 5px;
        
	}
.flex-container {
  display: flex;
  justify-content: flex-end;

}
